@charset "UTF-8";
/* nullsyle > nullsyle > nullsyle > nullsyle > nullsyle > nullsyle > */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* < nullsyle < nullsyle < nullsyle < nullsyle < nullsyle < nullsyle */
body {
  height: 100%;
  background: #2e2f2e;
  font-size: 16px;
  color: #bac8d3;
  line-height: 130%;
  font-weight: 400;
  font-family: Montserrat;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1070px;
  padding: 0px 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0px 8px;
  }
}

.title {
  color: #e0a80d;
  font-size: 25px;
  font-weight: 600;
  line-height: 130%;
  margin: 0px auto 50px auto;
  text-align: center;
}

section {
  scroll-margin-top: 100px;
}

/*-------------------
		HEADER
--------------------*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: #2b2c2c;
}

.header__container {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 60px;
  }
}

.header__logo {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 50px 0 0;
}

@media (max-width: 767.98px) {
  .header__logo {
    font-size: 23px;
    margin: 0 20px 0 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu a {
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .menu a {
    font-size: 14px;
  }
}

.menu__item {
  margin: 0px 0px 0px 30px;
}

@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 0px 15px;
  }
}

.menu__item:nth-last-child(2) {
  margin: 0px 30px 0px 30px;
}

@media (max-width: 767.98px) {
  .menu__item:nth-last-child(2) {
    margin: 0px 15px 0px 15px;
  }
}

.menu__item:first-child {
  margin: 0px;
}

@media (max-width: 767.98px) {
  .menu__item:first-child {
    margin: 0px;
  }
}

.menu__link {
  color: #e0a80d;
  font-size: 14px;
  line-height: 170%;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.menu__link:hover {
  color: white;
}

/*===========================================================
		PAGE
============================================================*/
.page__home {
  padding: 100px 0 0 0;
}

.page__about {
  background: #2b2c2c;
  padding: 80px 0px;
}

.page__skills {
  padding: 80px 0px;
}

.page__experience {
  background: #2b2c2c;
  padding: 80px 0px;
}

.page__education {
  padding: 80px 0px;
  padding-bottom: 40px;
}

.page__course {
  margin-bottom: 80px;
}

.page__contaÑts {
  background: #2b2c2c;
  padding: 80px 0px;
}

/*-------------------
		PAGE__HOME
--------------------*/
.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .home {
    padding: 60px 0 0 0;
    margin: 0 0 100px 0;
  }
}

@media (max-width: 767.98px) {
  .home {
    padding: 100px 0 0 0;
    margin: 0 0 50px 0;
  }
}

.home__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .home__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home__info {
  padding: 0 50px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1082px) {
  .home__info {
    padding: 0 50px 0 0;
  }
}

@media (max-width: 767.98px) {
  .home__info {
    padding: 50px 0 0 0;
  }
}

.home__subtitle {
  margin: 0 0 10px 0;
  font-size: 25px;
}

.home__title {
  margin: 0;
  text-align: left;
  font-size: 50px;
  font-weight: 600;
}

.home__text {
  color: white;
  line-height: 150%;
  margin: 0 0 20px 0;
  font-size: 45px;
  font-weight: 600;
}

.home__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  width: 250px;
  border: 7px solid white;
}

.avatar img {
  max-width: 100%;
}

.button {
  border: 2px solid #e0a80d;
  border-radius: 20px;
  line-height: 250%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 30px;
  color: white;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .button:hover {
    background-color: #e0a80d;
  }
}

/*-------------------
		PAGE__ABOUT-ME
--------------------*/
.about__title {
  margin: 0px auto 50px auto;
  text-align: center;
}

.about__text {
  text-align: justify;
}

/*-------------------
		PAGE__SKILLS
--------------------*/
.skills {
  position: relative;
}

.skills__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 767.98px) {
  .skills__grid {
    -ms-grid-rows: (auto)[1];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(1, auto)/repeat(1, 1fr);
    gap: 0px;
  }
}

.skill {
  background-color: #212222;
  padding: 15px;
}

.skill__head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
}

.skill div {
  margin: auto 8px auto 0;
}

.skill img {
  max-width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 8px;
}

.skill__title {
  color: white;
  font-weight: 600;
  margin: 0 auto 15px auto;
}

.skill__ul {
  margin-top: 10px;
}

@media (max-width: 767.98px) {
  .skill__ul {
    display: none;
    padding-left: 10px;
  }
}

.skill__open {
  display: block;
}

.skill li {
  line-height: 160%;
}

.arrow {
  display: none;
  position: absolute;
  right: 15px;
  top: 17px;
  width: 0;
  height: 0;
  border-top: 8px solid #e0a80d;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

@media (max-width: 767.98px) {
  .arrow {
    display: block;
  }
}

.arrow__active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.no-speciality {
  margin-bottom: 30px;
}

.no-speciality__subtitle {
  text-align: left;
  margin-bottom: 20px;
  font-size: 22px;
}

.by-speciality__subtitle {
  text-align: left;
  margin-bottom: 20px;
  font-size: 22px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__date {
  width: 180px;
  font-size: 18px;
  line-height: 140%;
}

.info__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.info__title {
  text-align: left;
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
}

.info li {
  margin-bottom: 10px;
  text-align: justify;
}

.info ul {
  margin-bottom: 30px;
}

.info__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info__project a {
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.info__project img {
  max-height: 50px;
  margin: 6px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.info__project img:hover {
  max-height: 56px;
  margin: 3px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts a {
  color: white;
  display: block;
  margin: auto 8px auto 0;
  font-size: 17px;
  margin-right: 20px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.contacts a:hover:not(.button) {
  color: #e0a80d;
}

.contacts img {
  max-width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}

.contacts li {
  margin-bottom: 20px;
}
