.button {
	border: 2px solid #e0a80d;
	border-radius: 20px;
	line-height: 250%;
	display: inline-flex;
	padding: 0 30px;
	color: white;
	transition: background-color 0.3s ease 0s;
	font-size: 16px;
	font-weight: 600;

	@media (min-width: 992px) {
		&:hover {
			background-color: #e0a80d;
		}
	}
}

.arrow {
	display: none;
	position: absolute;
	right: 15px;
	top: 17px;
	width: 0;
	height: 0;
	border-top: 6px solid #e0a80d;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;

	@media (max-width: $p768) {
		display: block;
	}

	&__active {
		transform: rotate(-180deg);
	}
}
