
@import "_nullstyle";

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900);


$minWidth: 320;
$maxWidth: 1920px;
$maxWidhContainer: 1070px;
$pContainer: $maxWidhContainer + 12px; // 1
$p992: 991.98px; // 2
$p768: 767.98px; // 3
$p480: 479.98px; // 4
$section-padding-top-bottom-1070: 80px;
$section-padding-top-bottom-768: 30px;
$section-margin-bottom-1070: 80px;
$section-margin-bottom-768: 30px;
$header-heght-1070: 100px;
$header-heght-768: 50px;


body {
	height: 100%;
	background: #2e2f2e;
	font-size: 16px;
	color: #bac8d3;
	line-height: 130%;
	font-weight: 400;
	font-family: Montserrat;

	@media (max-width: $p768) {
		font-size: 14px;
	}
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}


._container {
	max-width: 1070px;
	// padding: 0px 15px;
	padding: 0px 15px;
	@media (max-width: $p768) {
		padding: 0px 8px;
	}
	margin: 0 auto;
	box-sizing: content-box;
}


.title {
	color: #e0a80d;
	font-size: 25px;
	font-weight: 600;
	line-height: 130%;
	margin: 0px auto 50px auto;
	text-align: center;

	@media (max-width: $p768) {
		margin: 0px auto 25px auto;
		font-size: 20px;
	}
}

.subtitle {

	line-height: 130%;
	font-weight: 600;
	margin-bottom: 20px;
	font-size: 22px;

	@media (max-width: $p768) {
		font-size: 18px;
	}
}


section {
	scroll-margin-top: $header-heght-1070;

	@media (max-width: $p768) {
		scroll-margin-top: $header-heght-768;
	}
}

/*-------------------
		HEADER
--------------------*/

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background: #2b2c2c;

	&__container {
		min-height: $header-heght-1070;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $p768) {
			min-height: 60px;
		}
	}

	&__logo {

		font-size: 30px;
		font-weight: 600;
		color: #ffffff;
		margin: 0 50px 0 0;

		@media (max-width: $p768) {
			font-size: 23px;
			margin: 0 20px 0 0;
		}
	}
}

.menu {
	
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}


	a {
		font-size: 17px;
		font-weight: 500;
		
		@media (max-width: $p768) {
			font-size: 14px;
		}

	}

	// &__item:not(:first-child) {

	&__item {
		margin: 0px 0px 0px 30px;
		
		@media (max-width: $p768) {
			margin: 0px 0px 0px 15px;
		}
	}

	&__item:nth-last-child(2){
		margin: 0px 30px 0px 30px;
		
		@media (max-width: $p768) {
			margin: 0px 15px 0px 15px;
		}
	}

	&__item:first-child{
		margin: 0px;
		
		@media (max-width: $p768) {
			margin: 0px ;
		}
	}

	&__link {
		color: #e0a80d;
		font-size: 14px;
		line-height: 170%;
		transition: 0.15s;
	}

	&__link:hover {
		color: white;
	}
}

/*===========================================================
		PAGE
============================================================*/

.page { 
	
	&__home {
		padding: $header-heght-1070 0 0 0;
	}

	&__about {
		background: #2b2c2c;
		padding: $section-padding-top-bottom-1070 0px;
		
		@media (max-width: $p768) {
			padding: $section-padding-top-bottom-768 0px;
		}
	}

	&__skills {
		padding: $section-padding-top-bottom-1070 0px;

		@media (max-width: $p768) {
			padding: $section-padding-top-bottom-768 0px;
		}
	}

	&__experience {
		background: #2b2c2c;
		padding: $section-padding-top-bottom-1070 0px;
		@media (max-width: $p768) {
			padding: $section-padding-top-bottom-768 0px;
		}
	}

	&__education {
		padding: $section-padding-top-bottom-1070 0px;
		padding-bottom: 40px ;

		@media (max-width: $p768) {
			padding: $section-padding-top-bottom-768 0px;
			padding-bottom: 0px ;
		}
	}
	
	&__course {
		margin-bottom: $section-margin-bottom-1070;

		@media (max-width: $p768) {
			margin-bottom: $section-margin-bottom-768;
		}
	}
	
	&__conta—Åts {
		background: #2b2c2c;
		padding: $section-padding-top-bottom-1070 0px;

		@media (max-width: $p768) {
			padding: $section-padding-top-bottom-768 0px;
		}
	}
}

/*-------------------
		PAGE__HOME
--------------------*/

.home {
	min-height: 100vh;
	display: flex;
	// justify-content: center;
	align-items: center;
	

	@media (max-width: $p992) {
		padding: 60px 0 0 0;
		margin: 0 0 100px 0;
	}

	@media (max-width: $p768) {
		padding: 100px 0 0 0;
		margin: 0 0 50px 0;
	}

	&__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $p768) {
			flex-direction: column-reverse;
			text-align: center;
			align-items: center;
		}
	}

	&__info {
		padding: 0 50px 0 0;
		flex: 1 1 auto;

		@media (max-width: $pContainer) {
			padding: 0 50px 0 0;
		}

		@media (max-width: $p768) {
			padding: 50px 0 0 0;
		}

	}

	&__subtitle {
		// color: white;
		margin: 0 0 10px 0;
		font-size: 25px;
		
		@media (max-width: $p768) {
			font-size: 22px;
		}
	}


	&__title {
		margin: 0;
		text-align: left;
		font-size: 50px;
		font-weight: 600;
		
		@media (max-width: $p768) {
			font-size: 35px;
		}
	}

	&__text {
		color: white;
		line-height: 150%;
		margin: 0 0 20px 0;
		font-size: 45px;
		font-weight: 600;

		@media (max-width: $p768) {
			font-size: 30px;
		}
	}



	&__avatar {
		flex: 0 0 300px;
		// height: 250px;
		width: 250px;
		// position: relative;
		// overflow: hidden;

		border: 7px solid white;
		// @media (max-width: $p768) {
		// 	width: 200px;

		// }

	}


}


.avatar{
	img {
		// object-fit: contain;
		max-width: 100%;
		// position: absolute;
		// top: -104px;
	}
}


.button {
	border: 2px solid #e0a80d;
	border-radius: 20px;
	line-height: 250%;
	display: inline-flex;
	padding: 0 30px;
	color: white;
	transition: background-color 0.3s ease 0s;
	font-size: 16px;
	font-weight: 600;

	@media (min-width: 992px) {
		&:hover {
			background-color: #e0a80d;
		}
	}
}



/*===========================================================
		ABOUT
============================================================*/

.about {

	&__text {
		text-align: justify;
	}
}


/*===========================================================
		SKILLS
============================================================*/

.skills {

	position: relative;

	&__grid {
		display: grid;
		// grid-template-columns: 1fr minmax(200px, 1fr) 1fr;
		// grid-template-columns: repeat(3, 1fr);
		// grid-template-rows: 200px;
		grid-template: repeat(2, 1fr) / repeat(4, 1fr);
		gap: 20px;
		// grid-auto-rows: 200px;
		@media (max-width: $p768) {
			grid-template: repeat(1, auto) / repeat(1, 1fr);
			gap: 0px;
		}
	}

}


.skill {

	background-color: #212222;
	padding: 15px;
	position: relative;
	
	@media (max-width: $p768) {
		padding: 8px;
	}

	&__head {
		display: inline-flex;
		margin-bottom: 20px;
	}

	div {
		margin: auto 8px auto 0;
	}

	img {
		max-width: 20px;
		object-fit: contain;
		margin-right: 8px;
	}
	
	&__title {
		color: white;
		font-weight: 600;
		margin: 0 auto 15px auto;
	}

	&__ul {
		margin-top: 10px;
		@media (max-width: $p768) {
			display: none;
			padding-left: 10px;
		}
	}

	&__open {
		display: block;
	}
		
	li {
		line-height: 160%;
	}

}

.arrow {
	display: none;
	position: absolute;
	right: 15px;
	top: 17px;
	width: 0;
	height: 0;
	border-top: 8px solid #e0a80d;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;

	@media (max-width: $p768) {
		display: block;
	}

	&__active {
		transform: rotate(-180deg);
	}
}

/*===========================================================
		EXPERIANCE
============================================================*/

.experience {

	&__container {
	}

	&__no-speciality {
	}

	&__by-speciality {
	}
}

.no-speciality  {

	&__subtitle {
		text-align: left;
	}

	margin-bottom: 30px;

}

.by-speciality {

	&__subtitle {
		text-align: left;
	}

}

/*===========================================================
		INFO
============================================================*/

.info{

	display: flex;

	@media (max-width: $p768) {
		flex-direction: column;
	}

	&__date {
		width: 180px;
		font-size: 18px;
		line-height: 140%;
		// margin-right: 10px;
	}

	&__description{
		flex: 1 1;
	}

	&__title {
		text-align: left;
		margin-bottom: 15px;
		color: white;
		// font-size: 20px;
	}

	li {
		margin-bottom: 10px;
		text-align: justify;

	}
	
	ul {
		margin-bottom: 30px;
	}
	
	&__projects {
		display: flex;
	}

	&__project {
		display: flex;
		flex-direction: column;
		margin-right: 20px;
		margin-bottom: 20px;

		img {
			max-height: 50px;
			margin: 6px;
			transition: 0.1s;
		}

		img:hover {
			max-height: 56px;
			margin: 3px;
		}

		a {
			padding-top: 10px;
			text-align: center;
			color: white;
			font-size: 18px;

			@media (max-width: $p768) {
				font-size: 16px;
				padding-top: 0px;
			}
		}
	
	}
}

/*===========================================================
		CONTACTS
============================================================*/

.contacts {
	
	&__item {
		display: flex;
	}

	a {
		color: white;
		display: block;
		margin: auto 20px auto 0;
		font-size: 17px;
		// margin-right: 20px;
		transition: 0.15s;

		@media (max-width: $p768) {
			font-size: 16px;
		}
	}
	
	a:hover:not(.button) {
		color: #e0a80d;
	}

	img {
		max-width: 30px;
		object-fit: contain;
		margin-right: 20px;

	}

	li {
		margin-bottom: 20px;

		@media (max-width: $p768) {
			margin-bottom: 10px;
		}
	}
}